
@{
    ViewBag.Title = "jstest";
}

<select id="firstSelect">
    <option value="">Please Select</option>
    <option value="1">One</option>
    <option value="2">Rwo</option>
</select>

<select id="secondSelect">

</select>

<h2>jstest</h2>

<script>
    
    function ready(initCascadeDropDownForfirstSelect) {
        if (document.readyState != 'loading') {
            initCascadeDropDownForfirstSelect();
        } else {
            document.addEventListener('DOMContentLoaded', initCascadeDropDownForfirstSelect);
        }
    };

    function initCascadeDropDownForfirstSelect() {
        var triggerElement = document.getElementById("firstSelect");
        triggerElement.addEventListener('change', function(e) {
            var value = triggerElement.value;
            var items = '<option value="">Please select second</option>';
            var targetElement = document.getElementById("secondSelect");
            if (value === "" || value == null) {
                targetElement.innerHTML = items;
                targetElement.value = '';
                var event = document.createEvent('HTMLEvents');
                event.initEvent('change', true, false);
                targetElement.dispatchEvent(event);
                return;
            }
            var url = '@Url.Action("GetCities","Home")' + '?country=US';
            var request = new XMLHttpRequest();
            request.open('GET', url, true);

            request.onload = function () {
                if (request.status >= 200 && request.status < 400) {
                    // Success!
                    var data = JSON.parse(request.responseText);
                    if (data) {
                        data.forEach(function(item, i) {
                            items += '<option value="' + item.Value + '">' + item.Text + '</option>';
                        });
                        targetElement.innerHTML = items;
                    }
                } else {
                    console.log(request.statusText);
                }
            };

            request.onerror = function (error) {
                console.log(error);
            };

            request.send();
        });
    };

    ready(initCascadeDropDownForfirstSelect);

</script>